// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hide {
  display: none;
}
main {
  @include outer-container;
  padding: 0 $gutter;
}
img, figure {
  display: block;

  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 90vh;

  margin: 0 auto;
}
