// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hide {
  display: none;
}
$tumblr-width: ($gutter * 2) + rem(700);
main {
  @include outer-container($tumblr-width);
  padding: 0 $gutter;
}
