// -----------------------------------------------------------------------------
// This file contains styles that are specific to a post page.
// -----------------------------------------------------------------------------

.post {
  @include row;

  margin-bottom: $base-line-height * 3;

  &:after {
    content: '';

    height: 2px;
    width: 95%;

    margin: 0 auto;

    position: relative;
    top: $base-line-height * 1.5;

    background: $gray-1;
  }
  &:last-of-type {
    &:after {
      display: none;
    }
  }

  &__caption {
    text-align: left;

    blockquote {
      width: 100%;

      padding: 0 $gutter;
      margin: 0;
      border-left: 2px solid $gray-1;

      font-style: normal;

      p {
        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      em {
        font-style: italic;
      }

      &:before {
        display: none;
      }
    }
  }

  &__meta {
    @include font(monospace);

    margin-top: $base-line-height;
    margin-bottom: 0;
    padding: 0;

    background: transparent;

    text-align: left;

    p {
      margin-bottom: 0;
    }

    a {
      &:hover {
        border-bottom: 0.1em solid currentColor;

        color: $blue;
      }
    }
  }

  &__info {
    position: relative;

    min-height: 20px;

    font-size: $small-font-size;
    color: $gray;

    a {
      color: $blue;

      &:visited {
        color: $blue;
      }
    }

    a, span {
      margin-right: $gutter;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__tumblr-buttons {
    position: absolute;
    top: 0; right: 0;

    text-align: right;
  }
  &__tumblr-button {
    width: 20px;

    float: left;

    &--like {
      margin-right: $gutter;
    }
  }

  &__tags {
    font-size: $small-font-size;
    a {
      color: $gray;

      &:visited {
        color: $gray;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &__tag {
    &__hash {
      margin-right: 0.1rem;
    }
  }
}

/* **********
 * TEXT POSTS
 * **********/
.text {

}

/* ***********
 * PHOTO POSTS
 * ***********/
.photo {
  &__photo{
    display: block;

    height: auto;
    max-width: 100%;

    margin: 0 auto;

    &--index {
      max-height: 90vh;
      width: auto;
    }

    &--permalink {
      width: auto;
      max-height: none;
    }
  }
}

/* **************
 * PANORAMA POSTS
 * **************/
.panorama {
  &__photo{
    display: block;

    height: auto;
    max-width: 100%;

    margin: 0 auto;

    &--index {
      max-height: 90vh;
      width: auto;
    }

    &--permalink {
      width: auto;
      max-height: none;
    }
  }
}

/* **************
 * PHOTOSET POSTS
 * **************/
.photoset {
  $p: ".photoset__photo--index"; // selector #{$p}

  &__photos {
    @include row;
  }
  // Photoset grid layouts
  &__photos--2 { // photosets with 2 photos
    #{$p} {
      @include respond-to(small) {
        @include span-columns(6);

        height: 150px;
      }
      @include respond-to(medium) {
        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(2) {
      @include omega;
      @include clearfix;
    }
  }

  &__photos--3 { // photosets with 3 photos
    #{$p}:nth-of-type(1) {
      @include respond-to(small) {
        @include span-columns(12);
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(3) {
      @include respond-to(small) {
        @include span-columns(6);

        height: 150px;
      }
      @include respond-to(medium) {
        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(3) {
      @include omega;
      @include clearfix;
    }
  }

  &__photos--4 { // photosets with 4 photos
    #{$p}:nth-of-type(1) {
      @include respond-to(small) {
        @include span-columns(12);
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(4) {
      @include respond-to(small) {
        @include span-columns(4);
        height: 100px;
      }
      @include respond-to(medium) {
        height: 125px;
      }
      @include respond-to(large) {
        height: 150px;
      }
    }
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(4) {
      @include respond-to(small) {
        @include omega;
        @include clearfix;
      }
    }
  }

  &__photos--5 { // photosets with 5 photos
    @include respond-to(only-small) {
      #{$p}:nth-of-type(1), #{$p}:nth-of-type(2), #{$p}:nth-of-type(4), #{$p}:nth-of-type(5) {
        @include span-columns(6);

        height: 150px;
      }
      #{$p}:nth-of-type(3) {
        @include span-columns(12);
      }
      #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(5) {
        @include omega;
        @include clearfix;
      }
    }
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(2) {
      @include respond-to(medium) {
        @include span-columns(6);

        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(3), #{$p}:nth-of-type(4), #{$p}:nth-of-type(5) {
      @include respond-to(medium) {
        @include span-columns(4);

        height: 100px;
      }
      @include respond-to(large) {
        height: 125px;
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(5) {
      @include respond-to(medium) {
        @include omega;
        @include clearfix;
      }
    }
  }

  &__photos--6 { // photosets with 6 photos
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(2) {
      @include respond-to(small) {
        @include span-columns(6);

        height: 150px;
      }
      @include respond-to(medium) {
        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(3) {
      @include respond-to(small) {
        @include span-columns(12);
      }
    }
    #{$p}:nth-of-type(4), #{$p}:nth-of-type(5), #{$p}:nth-of-type(6) {
      @include respond-to(small) {
        @include span-columns(4);

        height: 100px;
      }
      @include respond-to(medium) {
        height: 125px;
      }
      @include respond-to(large) {
        height: 150px;
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(6) {
      @include respond-to(small) {
        @include omega;
        @include clearfix;
      }
    }
  }

  &__photos--7 { // photosets with 7 photos
    @include respond-to(only-small) {
      #{$p}:nth-of-type(1), #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(5), #{$p}:nth-of-type(6), #{$p}:nth-of-type(7) {
        @include span-columns(4);

        height: 100px;
      }
      #{$p}:nth-of-type(4) {
        @include span-columns(12);
      }
      #{$p}:nth-of-type(3), #{$p}:nth-of-type(7) {
        @include omega;
        @include clearfix;
      }
    }
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(2), #{$p}:nth-of-type(6), #{$p}:nth-of-type(7) {
      @include respond-to(medium) {
        @include span-columns(6);

        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(5), #{$p}:nth-of-type(7) {
      @include respond-to(medium) {
        @include span-columns(4);

        height: 125px;
      }
      @include respond-to(large) {
        height: 150px;
      }
    }
    #{$p}:nth-of-type(3), #{$p}:nth-of-type(4), #{$p}:nth-of-type(5) {
      @include respond-to(medium) {
        @include omega;
        @include clearfix;
      }
    }
  }

  &__photos--8 { // photosets with 8 photos
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(2), #{$p}:nth-of-type(7), #{$p}:nth-of-type(8) {
      @include respond-to(small) {
        @include span-columns(6);

        height: 150px;
      }
      @include respond-to(medium) {
        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(3) {
      @include respond-to(small) {
        @include span-columns(12);
      }
    }
    #{$p}:nth-of-type(4), #{$p}:nth-of-type(5), #{$p}:nth-of-type(6) {
      @include respond-to(small) {
        @include span-columns(4);

        height: 100px;
      }
      @include respond-to(medium) {
        height: 125px;
      }
      @include respond-to(large) {
        height: 150px;
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(6), #{$p}:nth-of-type(8) {
      @include respond-to(small) {
        @include omega;
        @include clearfix;
      }
    }
  }

  &__photos--9 { // photosets with 9 photos
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(2), #{$p}:nth-of-type(8), #{$p}:nth-of-type(9) {
      @include respond-to(small) {
        @include span-columns(6);

        height: 150px;
      }
      @include respond-to(medium) {
        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(3), #{$p}:nth-of-type(7) {
      @include respond-to(small) {
        @include span-columns(12);
      }
    }
    #{$p}:nth-of-type(4), #{$p}:nth-of-type(5), #{$p}:nth-of-type(6) {
      @include respond-to(small) {
        @include span-columns(4);

        height: 100px;
      }
      @include respond-to(medium) {
        height: 125px;
      }
      @include respond-to(large) {
        height: 150px;
      }
    }
    #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(6), #{$p}:nth-of-type(7), #{$p}:nth-of-type(9) {
      @include respond-to(small) {
        @include omega;
        @include clearfix;
      }
    }
  }

  &__photos--10 { // photosets with 10 photos
    #{$p}:nth-of-type(1), #{$p}:nth-of-type(2), #{$p}:nth-of-type(3), #{$p}:nth-of-type(8), #{$p}:nth-of-type(9), #{$p}:nth-of-type(10) {
      @include respond-to(small) {
        @include span-columns(4);

        height: 100px;
      }
      @include respond-to(medium) {
        height: 125px;
      }
      @include respond-to(large) {
        height: 150px;
      }
    }
    #{$p}:nth-of-type(4), #{$p}:nth-of-type(7) {
      @include respond-to(small) {
        @include span-columns(12);
      }
    }
    #{$p}:nth-of-type(5), #{$p}:nth-of-type(6) {
      @include respond-to(small) {
        @include span-columns(6);

        height: 150px;
      }
      @include respond-to(medium) {
        height: 200px;
      }
      @include respond-to(large) {
        height: 250px;
      }
    }
    #{$p}:nth-of-type(3), #{$p}:nth-of-type(4), #{$p}:nth-of-type(6), #{$p}:nth-of-type(7), #{$p}:nth-of-type(10) {
      @include respond-to(small) {
        @include omega;
        @include clearfix;
      }
    }
  }
  // Photoset photo styling
  &__photo {
    max-width: 100%;
    max-height: 90vh;

    &--index {
      float: left;
      overflow: hidden;

      width: 100%;
      height: auto;

      margin: 0 auto;
      margin-bottom: $gutter;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        border: none;
      }

      img {
        width: 100%;
      }
    }

    &--permalink {
      display: block;

      width: auto;
      height: auto;
      max-height: none;

      margin: 0 auto;
      margin-bottom: $gutter;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

/* ***********
 * QUOTE POSTS
 * ***********/
.quote {
  &__blockquote {
    width: 100%;
    border: none;
    margin: 0 auto;
    padding: 0;

    position: relative;

    font-style: normal;
    text-transform: none;
    color: $black;

    p {
      font-style: normal;

      em {
        font-style: italic;
      }
    }

    &--short {
      @extend h1;
      @include font(heading, bold);
    }

    &--medium {
      @extend h2;
      @include font(heading, medium);
    }

    &--long {
      @extend h2;
      @include font(heading);
    }

    &:before {
      content: "\201C";

      @include font(heading, bold);
      @include position(absolute, $base-line-height*2.5 null null $gutter);

      font-size: modular-scale(8);
      line-height: 0;
      color: $gray-1;

      margin-bottom: -$h1-font-size;

      z-index: -1;

      @include respond-to(large) {
        left: $gutter * -1;
      }
    }
  }

  &__cite {
    @include font(body);

    font-size: $h3-font-size;
  }
}

/* **********
 * LINK POSTS
 * **********/
.link {
  text-align: center;

  h2 {
    text-transform: none;
  }

  &__desc {
    text-align: left;
  }
}

/* **********
 * CHAT POSTS
 * **********/
.chat {
  &__line {
    @include font(heading);

    width: 90%;
    max-width: $measure * 0.7;

    margin-top: -$gutter;

    &--2 {
      margin-right: 0;
      margin-left: auto;

      text-align: right;
    }

    &:first-of-type {
      margin-top: $base-line-height;
    }
  }
  &__label {
    @include font(heading, bold);

    position: relative;
    left: $gutter;

    font-size: $small-font-size;

    &--2 {
      left: -$gutter;
    }
  }
  &__text {
    padding: 0 $gutter $gutter*0.25;
    margin-top: 0;
    border-radius: 7px;

    background: $gray-1;

    &--2 {
      background: $blue;

      color: $white;
    }
  }
}

/* ***********
 * AUDIO POSTS
 * ***********/
.audio {

}

/* ***********
 * VIDEO POSTS
 * ***********/
.video {

}

/* ************
 * ANSWER POSTS
 * ************/
.answer {

}
