// -----------------------------------------------------------------------------
// This file contains styles that are specific to a post page.
// -----------------------------------------------------------------------------

.post {
  @include row;

  margin-bottom: $base-line-height * 3;

  &:after {
    content: '';

    height: 2px;
    width: 95%;

    margin: 0 auto;

    position: relative;
    top: $base-line-height * 1.5;

    background: $gray-1;
  }
  &:last-of-type {
    &:after {
      display: none;
    }
  }

  &__caption {
    text-align: left;

    blockquote {
      width: 100%;

      padding: 0 $gutter;
      margin: 0;
      border-left: 2px solid $gray-1;

      font-style: normal;

      p {
        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      em {
        font-style: italic;
      }

      &:before {
        display: none;
      }
    }
  }

  &__meta {
    @include font(monospace);

    position: relative;

    margin-top: $base-line-height;
    margin-bottom: 0;
    padding: 0;

    background: transparent;

    text-align: left;

    p {
      margin-bottom: 0;
    }

    a {
      &:hover {
        border-bottom: 0.1em solid currentColor;

        color: $blue;
      }
    }
  }

  &__info {
    min-height: 20px;
    max-width: calc(100% - 60px);

    font-size: $small-font-size;
    color: $gray;

    a {
      color: $blue;

      &:visited {
        color: $blue;
      }
    }

    a, span {
      margin-right: $gutter;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__tumblr-buttons {
    position: absolute;
    top: 0; right: 0;

    text-align: right;

    a:hover {
      border: none;
    }
  }
  &__tumblr-button {
    width: 20px;

    float: left;

    &--like {
      margin-right: $gutter;
    }
  }

  &__tags {
    font-size: $small-font-size;
    a {
      color: $gray;

      &:visited {
        color: $gray;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &__tag {
    &__hash {
      margin-right: 0.1rem;
    }
  }
}

/* **********
 * TEXT POSTS
 * **********/
.text {
  &__title {
    margin-bottom: 0;
  }
  &__author {
    margin-top: 0;

    text-transform: none;
  }
  &__more {
    text-align: center;
  }
}

/* ***********
 * PHOTO POSTS
 * ***********/
.photo {
  &__photo{
    display: block;

    height: auto;
    max-width: 100%;

    margin: 0 auto;

    &--index {
      max-height: 90vh;
      width: auto;
    }

    &--permalink {
      width: auto;
      max-height: none;
    }
  }
}

/* **************
 * PANORAMA POSTS
 * **************/
.panorama {
  &__photo{
    display: block;

    height: auto;
    max-width: 100%;

    margin: 0 auto;

    &--index {
      max-height: 90vh;
      width: auto;
    }

    &--permalink {
      width: auto;
      max-height: none;
    }
  }
}

/* **************
 * PHOTOSET POSTS
 * **************/
.photoset {

  &__photoset {
    width: 100%;
    max-width: 700px; // Tumblr's dumbass photoset auto width

    margin: 0 auto;
  }

  // Photos on the permalink page
  &__photo {
    @include clearfix;

    display: block;

    max-width: 100%;
    height: auto;
    max-height: none;

    margin: 0 auto;
    margin-bottom: $gutter;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* ***********
 * QUOTE POSTS
 * ***********/
.quote {
  &__blockquote {
    width: 100%;
    border: none;
    margin: 0 auto;
    padding: 0;

    position: relative;

    font-style: normal;
    text-transform: none;
    color: $black;

    p {
      font-style: normal;

      em {
        font-style: italic;
      }
    }

    &--short {
      @extend h1;
      @include font(heading-text, bold);
    }

    &--medium {
      @extend h2;
      @include font(heading-text, medium);
    }

    &--long {
      @extend h2;
      @include font(heading-text);
    }

    &:before {
      content: "\201C";

      @include font(heading-text, bold);
      @include position(absolute, $base-line-height*2.5 null null $gutter);

      font-size: modular-scale(8);
      line-height: 0;
      color: $gray-1;

      margin-bottom: -$h1-font-size;

      z-index: -1;

      @include respond-to(large) {
        left: $gutter * -1;
      }
    }
  }

  &__cite {
    @include font(body);

    font-size: $h3-font-size;
  }
}

/* **********
 * LINK POSTS
 * **********/
.link {
  text-align: center;

  h2 {
    text-transform: none;
  }

  &__desc {
    text-align: left;
  }
}

/* **********
 * CHAT POSTS
 * **********/
.chat {
  &__line {
    @include font(heading-text);

    width: 90%;
    max-width: $measure * 0.7;

    margin-top: -$gutter;

    &--2 {
      margin-right: 0;
      margin-left: auto;

      text-align: right;
    }

    &:first-of-type {
      margin-top: $base-line-height;
    }
  }
  &__label {
    @include font(heading-text, bold);

    position: relative;
    left: $gutter;

    font-size: $small-font-size;

    &--2 {
      left: -$gutter;
    }
  }
  &__text {
    padding: $gutter*0.25 $gutter;
    margin-top: 0;
    border-radius: 7px;

    border: 1px solid $gray-1;

    &--2 {
      background: $blue;

      border-color: $blue;

      color: $white;
    }
  }
}

/* ***********
 * AUDIO POSTS
 * ***********/
.audio {
  &__player {
    max-width: 400px; // Tumblr iz dum

    margin: 0 auto;
  }
}

/* ***********
 * VIDEO POSTS
 * ***********/
.video {
  &__player {
    max-width: 700px;

    margin: 0 auto;
  }
}

/* ************
 * ANSWER POSTS
 * ************/
.answer {
  &__question {
    max-width: 100%;

    margin: 0 auto;
    padding: $gutter;
    border: 1px solid $gray-1;
    border-radius: 7px;
  }
  &__asker {
    margin-top: 0;

    text-transform: none;

    a:visited {
      color: $blue;
    }
  }
  &__quote {
    margin-bottom: 0;
  }
  &__answerer {
    text-transform: none;

    a:visited {
      color: $blue;
    }
  }
}
