// -----------------------------------------------------------------------------
// This file contains styles that are specific to the navigation.
// -----------------------------------------------------------------------------

.nav {
  @include fill-parent;
  @include font(heading-text);

  a:visited {
    color: $blue;
  }

  &__button {
    @include span-columns(5 of 24);

    min-width: 45px;

    margin-top: 1.5rem;

    cursor: pointer;

    @include respond-to(medium) {
      display: none;
    }
  }

  &__button-line {
    width: 45px;
    height: 5px;

    margin-left: $gutter;
    border-radius: 7px;

    transition: transform 0.5s cubic-bezier(0.75, -0.2, 0.2, 1.25);

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:first-child {
      background: $yellow;
    }
    &:nth-child(2) {
      background: $green;
    }
    &:last-child {
      background: $blue;
    }
  }

  &__button--close {

    & .nav__button-line {
      &:first-child {
        transform: rotateZ(135deg) translate(7px, -7px);
      }
      &:nth-child(2) {
        transform: rotateY(90deg);
      }
      &:last-child {
        transform: rotateZ(-135deg) translate(7px, 7px);
      }
    }
  }

  &__content {
    // @include outer-container;
    @include row;
    @include pad;

    padding-top: 0;
    height: calc(2.75rem + #{$gutter * 2});
  }

  &__links {
    list-style-type: none;

    @include respond-to(not-medium) {
      @include position(absolute, -3.5rem 0 0 0);

      width: $slider-width + 25px;
      height: 110vh;

      padding: 2.5rem 0 0 3.5rem;

      background: $blue-5;
      background: linear-gradient(to bottom, $blue, $blue-5);

      font-size: $h3-font-size;
      line-height: $h2-line-height;
      color: $white;

      transform: translateX(-100%);

      a, a:hover, a:visited {
        color: $white;
      }
    }
    @include respond-to(medium) {
      @include span-columns(13 of 24);

      margin-top: 1.5rem;
      padding: 0;

      li {
        display: inline;

        margin: 0;
        padding: 0;
        margin-right: $gutter;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__search {
    @include span-columns(19 of 24);
    @include omega;

    @include respond-to(medium) {
      @include span-columns(11 of 24);
    }
  }
}

.hoh {
  transition: transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1.25);

  overflow-x: hidden;
  overflow-y: visible;

  &--close {
    transform: translateX($slider-width);

    overflow: hidden;
  }
}

.tumblr-controls__background {
  position: absolute;
  top: -26px; right: 0; left: 0;

  width: 100%;
  height: 28px;

  background: linear-gradient(to bottom, $gray-1, transparent);
}
