// -----------------------------------------------------------------------------
// This file contains styles for the pagination component.
// -----------------------------------------------------------------------------

.pagination {
  @include outer-container;
  @include row;
  @include font(heading-text);

  margin-top: $gutter;

  text-align: center;

  &__next {
    margin-left: $gutter;

    &:visited {
      color: $blue;
    }
  }

  &__nav {
    display: inline;

    margin: 0 $gutter;

    position: relative;
    top: 0.125rem;

    a {
      margin-right: $gutter * 0.5;

      font-size: $h3-font-size;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__jump {
    color: $gray;
  }

  &__current {
    &:visited {
      color: $blue;
    }
  }

  &__previous {
    margin-right: $gutter;

    &:visited {
      color: $blue;
    }
  }

  &:before {
    content: '';

    height: 2px;
    width: 95%;
    max-width: $max-width;

    margin: 0 auto;

    display: block;
    position: relative;
    top: $base-line-height * -2;

    background: $gray-1;
  }
}

.post-pagination {
  @include outer-container;
  @include row;

  margin-top: $gutter;

  text-align: center;

  &__previous {
    margin-right: $gutter;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__next {
    margin-left: $gutter;

    &:last-of-type {
      margin-left: 0;
    }
  }

  &:before {
    content: '';

    height: 2px;
    width: 95%;
    max-width: $max-width;

    margin: 0 auto;

    display: block;
    position: relative;
    top: $base-line-height * -2;

    background: $gray-1;
  }
}
