<title>{block:PostTitle}{PostTitle} | {/block:PostTitle}{Title}</title>

<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{MetaDescription}" />
<meta name="keywords" content="gardening, hydroponics, soil, hydro, garden, gardens, hid, lighting, coco, coco coir, grow, growing, hydroponic" />
<meta name="theme-color" content="#0091b2" />

<!-- Options -->
<!-- To Show or Not to Show -->
<meta name="if:Show Archive" content="1" />
<meta name="if:Show Random" content="0" />
<meta name="if:Show RSS" content="0" />
<meta name="if:Show Poster" content="0" />
<!-- Social Media Links -->
<meta name="text:Facebook URL" content="" />
<meta name="text:Twitter URL" content="" />
<meta name="text:Instagram URL" content="" />
<meta name="text:YouTube URL" content="" />
<meta name="text:Google Plus URL" content="" />
<meta name="text:Tumblr URL" content="" />

<!-- Favicons -->
<link rel="shortcut icon" href="{Favicon}">
<link rel="icon" type="image/png" href="{PortraitURL-16}" sizes="16x16" />
<link rel="icon" type="image/png" href="{PortraitURL-128}" sizes="128x128" />

<!-- Stylesheets -->
<link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//fonts.sea-of-green.com/overlook-base64.css" />
